<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <header><h1>CV</h1></header>
        <header><h2>Podstawowe informacje</h2></header>
        <h:dataTable var="cvs" value="#{cvList}"
                     styleClass="daneOsobowe"
                     rowClasses="dane">
        <h:column>
        <f:facet name="header">imię</f:facet>
        #{cvList.cvs.imie}
        </h:column>
        <h:column>
        <f:facet name="header">nazwisko</f:facet>
        #{cvList.cvs.nazwisko}
        </h:column>
        <h:column>
        <f:facet name="header">telefon</f:facet>
        #{cvList.cvs.tel}
        </h:column>
        </h:dataTable>
        <header><h2>Edukacja</h2></header>
        <h:dataTable var="edu" value="#{cvList.cvs.edukacja}"
                     styleClass="wyksztalcenie"
                     rowClasses="dane">
            <h:column>
                <f:facet name="header">okres nauki</f:facet>
                #{edu.okresNauki}
            </h:column>
            <h:column>
                <f:facet name="header">szkoła</f:facet>
                #{edu.szkola}
            </h:column>
            <h:column>
                <f:facet name="header">specjalność</f:facet>
                #{edu.specjalnosc}
            </h:column>
        </h:dataTable>

        <header><h2>Doświadczenie</h2></header>
        <h:dataTable var="dosw" value="#{cvList.cvs.doswiadczenie}"
                     styleClass="doswiadczenie"
                     rowClasses="dane">
            <h:column>
                <f:facet name="header">okres pracy</f:facet>
                #{dosw.okresPracy}
            </h:column>
            <h:column>
                <f:facet name="header">firma</f:facet>
                #{dosw.firma}
            </h:column>
            <h:column>
                <f:facet name="header">stanowisko</f:facet>
                #{dosw.stanowisko}
            </h:column>
        </h:dataTable>

        <header><h2>umiejętności</h2></header>
        <h:dataTable var="tech" value="#{cvList.cvs.umiejetnosci}"
                     styleClass="umiejetnosci.li"
                     >
            <h:column>
               * #{tech.nazwaTechnologi} #{tech.kategoria}
            </h:column>
        </h:dataTable>

        <header><h2>zainteresowania</h2></header>
        <h:dataTable var="zainteresowania" value="#{cvList.cvs.zainteresowania}"
                     styleClass="zainteresowania.li">
            <h:column>
                * #{zainteresowania}
            </h:column>
        </h:dataTable>
        <h:button outcome="edit" value="edycja"></h:button>


    </ui:define>
</ui:composition>
