<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
    <h:form>
        <f:view>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="imię" for="title"/>
                    <h:inputText id="title" value="#{edit.cv.imie}"/>
                    <h:outputLabel value="nazwisko" for="author"/>
                    <h:inputText id="author" value="#{edit.cv.nazwisko}"/>
                    <h:outputLabel value="telefon" for="tel"/>
                    <h:inputText id="tel" value="#{edit.cv.tel}"/>
                </h:panelGrid>

                <h3>Dostępne technologie</h3>
                <h:selectManyCheckbox value = "#{edit.cv.umiejetnosci}" converter="Convertione">
                    <f:selectItems value="#{edit.technol}"/>
                </h:selectManyCheckbox>

                <h:commandButton actionListener="#{edit.saveCv}" value="zapisz"/>
            </h:form>
        </f:view>
        <h:button outcome="cv" value="wróć">
        </h:button>
    </h:form>
    </ui:define>
</ui:composition>
