<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <code>
            <h:outputLabel value="#{zurawView.ZURAW}" style="white-space: pre-wrap;"/>
        </code>
    </ui:define>
</ui:composition>
